.grilla {
  height: calc(100% + 5px);
  width: calc(100% + 5px);
  border-spacing: 0;
	/* background-color: white; */
	/* margin: 0px 20px 20px 0px; */
  /* border: 10px solid black; */
}

.celda {
  border: 1px solid var(--border);
}

.visitados {
  background-color: var(--visitados);
  animation: visitAnimation 1s linear;
}

@keyframes visitAnimation {
	0%{
		background-color: var(--previsitados);
		transform: scale(0);
		/* border-radius: 50%; */
	}
	50% {
		background-color: var(--previsitados);
		transform: scale(1);
		/* border-radius: 0; */
	}
	100%{
		background-color: var(--visitados);
	}
}

/* .destino::after { */
/* content: url('../media/flag.svg') */
/* } */

.path {
  background-color: var(--path);
}

.pesado {
  background-color: 'brown';
}

[draggable] {
  touch-action: none;
}

.droppable {
  border: 1px dashed var(--border);
}

.wall {
  background-color: var(--wall);
  animation: wallAnimation 200ms ease-in;
}

@keyframes wallAnimation {
	0%{
		z-index: 1;
		transform: scale(1);
	}
	70% {
		transform: scale(1.2);
	}
	100%{
		z-index: 1;
		transform: scale(1);
	}
}

.origen {
  background-color: var(--origen);
}

.destino {
  background-color: var(--destino);
}

.vacio {
  background-color: var(--vacio);
}
