.menu-container {
  width: 32.5%;
  height: 72.5%;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: var(--menuBackgroundDark);
  /* border: 1px solid var(--menuBackground); */

  backdrop-filter: blur(5px);

  overflow: scroll;
}

.menu {
  /* background: var(--menuBackground); */
  /* backdrop-filter: blur(5px); */
  /* background-color: var(--alt); */
}

.menu-options {
  display: flex;

  width: 100%;

  /* background-color: var(--menuBackground); */
  /* backdrop-filter: blur(5px); */

  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-option {
  height: 100%;
  margin: 0;
  padding: 8px 16px;

  text-align: center;

  border: none;
}

.menu-option:hover {
}

.active {
}

.inactive {
}

.buttons-container {
  position: absolute;
  left: 3vw;
  bottom: 3vh;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 10vw;
  height: 10vh;
}

button {
  position: relative;
  width: 40%;
  height: 100%;
  background-color: var(--secondary);
  color: var(--text);
  border: 1px solid var(--secondaryDark);
}

button:hover {
  background-color: var(--primaryDark);
}

label {
  display: block;
  padding: 5px 0 5px 5px;
  margin: 0;
}
