/* { */
/*   --main: #79c7c5ff; */
/*   --mainSec: #ade1e5ff; */
/*   --alt: #80b38fff; */
/*   --altSec: #99d19cff; */
/*   --contrast: #000206ff; */
/**/
/*   --text: white; */
/*   --bg: none; */
/*   --border: rgb(0, 0, 0, 0.5); */
/**/
/*   --origen: green; */
/*   --destino: red; */
/*   --wall: black; */
/*   --visitados: #345ea8; */
/*   --previsitados: #eedbcb; */
/*   --path: var(--contrast); */
/*   --vacio: white; */
/**/
/* } */

.menu {
  display: none;
  width: 32.5%;
  height: 72.5%;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);

  border: 1px solid rgba(0, 0, 0, 0.6);
  /* align-items: center; */
  /* justify-content: center; */
}

.buttons-container {
	position: absolute;
	left: 3vw;
	bottom: 3vh;

	display: flex;
	align-items: center;
	justify-content: space-evenly;

	width: 10vw;
	height: 10vh;
}

button {
	width: 25%;
	height: 75%;
	background-color: var(--alt);
	color: var(--text);
}

button:hover {
	background-color: var(--altSec);
}


.triangle {
  width: 0;
  height: 0;
  border: 150px solid transparent;
  border-top: 0;
  border-bottom: 300px solid red;
  transform: rotate(90);
}

/* svg { */
/* 	width: 50%; */
/* 	height: 100%; */
/* } */
