:root {
  --main: #79c7c5ff;
  --mainSec: #ade1e5ff;
  --alt: #80b38fff;
  --altSec: #99d19cff;
  --contrast: #000206ff;

  --text: white;
  --bg: none;
  --border: rgb(0, 0, 0, 0.5);

  --origen: green;
  --destino: red;
  --wall: black;
  --visitados: #345ea8;
  --previsitados: #eedbcb;
  --path: var(--contrast);
  --vacio: white;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--text);
}

.main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 90% 10%;
  background: var(--bg);
}
