:root {
  --primary: rgba(183, 215, 232, 1);
  --primaryDark: rgba(135, 189, 216, 1);

  --secondary: rgba(141, 157, 182, 1);
  --secondaryDark: rgba(102, 114, 146, 1);

  --menuBackground: rgba(0, 0, 0, 1);
  --menuBackgroundDark: rgba(1, 1, 1, 0.5);

  --text: white;
  /* --border: #bbc1c9; */
  --border: rgba(141, 157, 182, 0.1);

  --origen: green;
  --destino: red;
  --wall: #112238;

  --visitados: rgba(52, 94, 168, 1);
  --previsitados:  rgba(31, 181, 30, .5);

  --path: #2f0f0f;
  --vacio: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--text);
}

body {
	overflow: hidden;
	width: 100vw;
  height: 100vh;
	/* background-color: black; */
}
